<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saradabar.cpadcustomizetool">

    <permission-group
        android:name="android.permission-group.KOBOLD"
        android:label="@string/app_name" />

    <permission
        android:name="com.saradabar.cpadcustomizetool.permission.ACCESS_DEVICE_OWNER"
        android:description="@string/permission_group_description"
        android:label="@string/permission_group_label"
        android:permissionGroup="android.permission-group.KOBOLD"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="jp.co.benesse.dcha.permission.ACCESS_SYSTEM" />
    <uses-permission android:name="com.saradabar.cpadcustomizetool.permission.ACCESS_DEVICE_OWNER" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".view.activity.DeviceOwnerInstaller"
            android:enabled="true"
            android:exported="true"
            android:label="@string/activity_owner_installer"
            android:theme="@style/MainTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="application/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="application/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.WelAppActivity"
            android:theme="@style/WelcomeScreenTheme.Light" />
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:label="@string/activity_start_check"
            android:theme="@style/StartTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.StartActivity"
            android:label="@string/activity_main_normal_settings"
            android:theme="@style/MainPreferenceTheme" />
        <activity
            android:name=".view.activity.UpdateActivity"
            android:label="@string/activity_app_update"
            android:theme="@style/MainTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".view.activity.InformationActivity"
            android:label="@string/activity_app_info"
            android:theme="@style/MainTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".view.activity.EmergencyActivity"
            android:clearTaskOnLaunch="true"
            android:documentLaunchMode="always"
            android:exported="true"
            android:label="@string/activity_emergency"
            android:theme="@style/ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.NormalActivity"
            android:clearTaskOnLaunch="true"
            android:documentLaunchMode="always"
            android:exported="true"
            android:label="@string/activity_normal"
            android:theme="@style/ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.RebootActivity"
            android:clearTaskOnLaunch="true"
            android:documentLaunchMode="always"
            android:exported="true"
            android:icon="@drawable/reboot"
            android:label="@string/activity_reboot"
            android:theme="@style/ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.BlockerActivity"
            android:label="@string/activity_uninstall_block"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".view.activity.CrashLogActivity"
            android:label="@string/activity_crash_log"
            android:theme="@style/MainTheme" />

        <service
            android:name=".data.service.KeepService"
            android:exported="false"
            android:label="@string/service_keep">
            <intent-filter>
                <action android:name="com.saradabar.cpadcustomizetool.data.service.KeepService" />
            </intent-filter>
        </service>
        <service
            android:name=".data.service.ProtectKeepService"
            android:exported="false"
            android:label="@string/service_protect_keep"
            android:process=":protect">
            <intent-filter>
                <action android:name="com.saradabar.cpadcustomizetool.data.service.ProtectKeepService" />
            </intent-filter>
        </service>
        <service
            android:name=".data.service.DeviceOwnerService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="com.saradabar.cpadcustomizetool.permission.ACCESS_DEVICE_OWNER">
            <intent-filter>
                <action android:name="com.saradabar.cpadcustomizetool.data.service.DeviceOwnerService" />
            </intent-filter>
        </service>
        <service
            android:name=".data.service.InstallService"
            android:exported="false"
            android:label="@string/app_name" />

        <receiver
            android:name=".Receiver.PackageAddedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.ACTION_PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receiver.BootCompletedReceiver"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receiver.AdministratorReceiver"
            android:exported="false"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/administrator" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>